<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<!-- <h1 id="katiereiner">KATIE REINER</h1>

 -->


<div class="home">
I'm Katie. <br><br>
	I am a current Junior at The University of Michigan fascinated by new technologies and driven by the way consumers make decisions. I believe that creators can harness this information to disrupt and innovate. <br><br>

	I also love to travel.<br><br>

	This is my portfolio built in Ruby on Rails. Navigate through the tabs to check out some cool experiences and projects that I've been a part of.</div>