
<div class='contact'>You can reach me at any of these links! <br>Or by phone at 203-858-1838.<br>Would love to hear any feedback or questions!</div>

    <a href="https://www.linkedin.com/profile/view?id=296656469&trk=spm_pic" id="linkedin"><img id="linkedin" src="/images/linkedin2.png"></a> 
    <a href="mailto:kreiner@umich.edu"><img id="mail" src="/images/mail.png"></a> 
    <a href="https://www.facebook.com/reiner.katie" id="facebook"><img id="facebook" src="/images/facebook.jpg"></a>
