
<div class='companion'>
Companion is a fully-functioning iPhone application that allows friends and family to make sure their loved ones always get to their destinations safely.<br>

My team and I built the first prototype in Ruby Motion. We had learned Ruby on Rails during our summer at Dev Bootcamp and wanted to transfer those skills to mobile development. This was my first mobile venture and gave me the confidence to build absolutely anything. <br>

I now manage the migration from prototype to release using objective C, overseeing development and design.  I hope to promote efficiency and trust between members in this role.<br>
We are currently in beta and in the process of pitching to employers and investors to help increase user base to 10,000 by 2015.

This has been such a positive experience for my team and I. <br><br>

Check us out <a href='http://companionapp.io/'>Here!</a>

</div>