<div class='cribspot'>
	Marketing and Development Intern	
	•	Developing marketing campaign that is scalable for universities around the country to expand services to more than 20 schools.<br>
	•	Working with a team of five students to promote the use of Rentpay around campus, which tripled the user base in one year to 30,000 students.<br>
	•	Assisting the coding team on side projects to help advance the website.<br>

	See their awesome site <a href='https://www.cribspot.com/'>here</a>
</div>