	<div class='ebcard'>
		eBcard was my first venture in entrepreneurship and was one of the most valuable experiences I had in college. As founder and project manager of eBcard, a mobile app that eliminates the need for business cards, I led a team of three and delegated development, design and implementation tasks. This was such a great learning experience and I feel as though I really grew as a team player through this project.<br><br>
		To build eBcard, we decided to outsource development internationally. This was a struggle and huge learning experience that I would never change.Through this experience, I learned the value of understanding all aspects of a team and learned how to deal with conflicts.<br><br>
</div>