
<div class='spoon'>
Spoon University is an online food blog that has reached a number of campuses across the country. Spoon offers healthy and great tasting meals for college students and is awesome to have on campus. As offline marketing director of Spoon University I spearhead launch events by securing locations, coordinating vendors, and advertising events. Through this we've expanded our user base by over 500 students!<br><br>
I also have had the opportunity to work on the social media campaign, controlling Facebook and Instagram pages for Spoon, and attracting 2,000 unique monthly visitors. Spoon has been such an awesome opportunity to market a very useful service.<br><br>

	For awesome and easy college recipes, you can see their website <a href='http://spoonuniversity.com/'>here</a>
</div>