// Place all the styles related to the ADDITIONAL controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.additional {
	font-size: 17px;
	position:absolute;
	top:27%;
	left:10%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;
}
