// Place all the styles related to the CONTACT controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact {
	position:relative;
	top:150px;
	font-size:20px;
	left:150px;
	width:460px;
	font-family: 'News Cycle', sans-serif;
	padding:10px;
}