// Place all the styles related to the EDUCATION controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.education {
	position:relative;
	top:70px;
	font-size:15px;
	left:50px;
	width:460px;
	font-family: 'News Cycle', sans-serif;
	padding:10px;
}