// Place all the styles related to the EXPERIENCE controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.experience {
	font-size: 18px;
	position:absolute;
	top:23%;
	left:15%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;

}

.companion {
	font-size: 17px;
	position:absolute;
	top:27%;
	left:10%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;
}

.cribspot {
	font-size: 17px;
	position:absolute;
	top:27%;
	left:10%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;
}

.spoon {
	font-size: 17px;
	position:absolute;
	top:27%;
	left:10%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;
}

.ebcard {
	font-size: 17px;
	position:absolute;
	top:27%;
	left:10%;
	width:400px;
	height:380px;
	font-family: 'News Cycle', sans-serif;
}

