<div class="additional">
Competed in University of Michigan’s MHacks and created a Chrome extension called “Yogurt”, which allows you to anonymously chat with classmates and received first place for Best Michigan Application.<br><br>
Full-stack developer and designer for online website of SPACK Products<br><br>
Competed against numerous contestants for Intel's Finance Case Competition for their next wearable device and received first place.<br><br>
Was an active member of the United States Tennis Association (USTA) where I trained 14 hours a week and competed in tournaments across the country.<br><br>
Passionate about travel and fascinated by other cultures and foods around the world.

</div>
