<div class="education">
	<h4 class="mich_holder">UNIVERSITY OF MICHIGAN - ROSS SCHOOL OF BUSINESS</h4>
	<div class="michigan">

		<p>There's no denying that the University of Michigan is one of the most special places in the world. The spirit, innovation and intelligence that floods the campus is inspiring and what drove my passion for business and technology. Go Blue! </p>
	</div>

	<h4 class="lse_holder">LONDON SCHOOL OF ECONOMICS</h4>
	<div class="lse">
		<p>Having the opportunity to study macroeconomics at LSE was an amazing experience. I was able to completely emmerse myself in a foreign country and not only learn economics from the perspective of another country but also learn about different cultures around the world.</p>
	</div>

	<h4 class="dev_holder">DEV BOOTCAMP - THE ORIGINAL CODING BOOTCAMP</h4>
	<div class="dev">
	
		<p>My time at Dev Bootcamp was life changing. I spent 9 weeks learning Ruby on Rails and Javascript, worked with multiple teams as different positions and most importantly, learned "how to" learn.</p>
	</div>
</div>

